table, tr, th , td{
    padding: 3px;
    
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    padding: 5px 8px 5px 8px;
}

td {
    text-align: center;
}

.addBookForm {
    /* display: none; */
    text-align: center;
    width: 50%;
    margin: auto;
    border: red solid 2px;

}